@mixin app-theme($theme) {

    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);

    /*typelist style*/
    .mat-flat-button {
        background-color: mat-color($primary, darker);
        color: mat-color($primary, lighter);
    }

    .mat-list-option{
        color: mat-color($primary, lighter);
        background-color: mat-color($primary, darker);
    }

    .parent {
        flex: 1 1 auto;
        display: grid;
        grid-template: auto 1fr auto / auto 1fr auto;
    }
      
    .header {
        background-color: darkslategrey;
        padding: 2rem;
        grid-column: 1 / 4;
    }
    
    .left-side {
        grid-column: 1 / 2;
    }
    
    .main {
        grid-column: 2 / 3;
    }
    
    .right-side {
        grid-column: 3 / 4;
    }
    
    .footer {
        grid-column: 1 / 4;
    }
    
}