<app-header-bar></app-header-bar>

<mat-sidenav-container
    class="container" (backdropClick)="close('backdrop')" *ngIf="shouldRun">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <app-musicsheet></app-musicsheet>
    <p><button mat-button (click)="close('toggle button')">Toggle</button></p>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.open()">Open</button></p>
    <app-musicsheet></app-musicsheet>
  </mat-sidenav-content>
</mat-sidenav-container>