

<mat-drawer-container class="container" autosize>
    <p>
        <mat-toolbar color="primary">
          <button mat-flat-button (click)="drawer.toggle()" >{{data.title}}</button>
          <span class="header-spacer"></span>
          <button mat-fab color="primary" class="share-icon" aria-label="share icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
        </mat-toolbar>
    </p>
    <mat-drawer #drawer class="sidenav" mode="side">
      <app-typelist></app-typelist>
    </mat-drawer>
  
  </mat-drawer-container>