.container{
  margin: 0.5em;;
}

::ng-deep.mat-pseudo-checkbox{
  display: none !important;
}


mat-list-option {
  margin: 0.5em;
}

mat-list-option[aria-selected="true"] {
  background: rgba(188, 71, 218, 0.7);
}


